.nav {
    height: 79px;
    display: flex;
    background-color: rgb(44, 40, 40);
    color: white;
    width: 1000px;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
}
.nav-links{
    color: white;
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-around;
    list-style-type: none;display: flex;
    align-items: center;
    
}

a {
    color: white;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.active {
    font-weight: bold;
}
.btn {
    padding: 5px;
    background-color: #16A1B8;
    box-shadow: 2px 1px 2px black;
    border: 1px solid black;
    color: white;
}